body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 35px;
	margin: auto;
	column-gap: 40px;
	width: 1600px;
	column-count: 3;
	column-rule: 1px dotted;
}
a
{
	text-decoration: none;
}
