body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 35px;
	margin: auto;
	width: 1600px;
	column-count: 3;
	column-gap: 80px;
	column-rule: 1px dotted;
}
a
{
	text-decoration: none;
	color: #0033FF;
}
a:hover
{
	color: Magenta;
}
